@model Daruyanagi.Models.Page

@{
    Page.Title = Model.Title;
    Page.Modified = Model.Modified;
    Page.Length = Model.Length;
}

@if (Model.IsDraft)
{
    <div class="alert alert-info">
      <a class="close" data-dismiss="alert">×</a>
      <strong>Notice</strong> この記事は下書きモードです。ログインしていないユーザーには表示されません。
    </div>
}

@if (Model.Content.SideBar != null)
{ 
    <div class="row">
        <div class="span8">
            <article>
                @Model.Content.Body
            </article>
        </div>
        <div class="span4">
            <aside class="well">
                @Model.Content.SideBar
            </aside>     
        </div>
    </div>
}
else
{
    <article>
        @Model.Content.Body
    </article>
}

@section PageCached
{
    <text>Page Cached: @Model.Content.CreatedAt</text>
}